.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
}

.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.sold{
    position: relative;
}

.sold::before {
    content: "";
    top: 0;
    left: 0;
    border-bottom: 4em solid transparent;
    border-left: 4em solid #c12748;
    position: absolute;
    z-index: 100;
}
.sold::after {
    content: "Sold";
    display: block;
    top: 1em;
    transform: rotate(-45deg);
    color: #fff;
    left: 0.2em;
    position: absolute;
    z-index: 101;
}

.item__img--container{
    background-color: rgb(208, 208, 208);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item__name{
    margin-top: 10px;
}

.border{
    margin-top: 50px;
}

.border__list{
    display: flex;
}

.border__list li:first-child{
    padding-left: 10%;
}

.border__list li{
    padding: 20px 40px;
    font-weight: bold;
}

.list.active {
    color: #FF0000;
}

.count {
    position: relative;
}

.badge {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
    width: 25px;
    height: 25px;
    background-color: #FF0000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border__list li:last-child {
    position: relative;
}

.total__badge {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 100;
    width: 25px;
    height: 25px;
    background-color: #FF0000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {    
    .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .badge {
        width: 30px;
        height: 30px;
    }
}